.color-main {
    color: #FF8343;
}

.bg-main-col {
    background-color: #FF8343;
}

.color-submain {
    color: #F1DEC6;
}

.bg-submain-col {
    background-color: #F1DEC6;
}

.sub-color-1 {
    color: #179BAE;
}

.bg-sub-col-1 {
    background-color: #179BAE;
}

.sub-color-2 {
    color: #4158A6;
}

.bg-sub-col-2 {
    background-color: #4158A6;
}